.tag-page {
   width: 100%;
}

.tag-page-header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:  var(--white-1);
   margin-bottom: 15px;
   height: 50px;
   border-radius: 5px;
   box-shadow: 0 1px 10px -6px gray;
   border-top: 5px solid var(--orange-1);
}