.profile-page {
   width: 100%;
   display: flex;
   justify-content: center;
}

.profile {
   width: 100%;
}

.profile-header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profile-img {
   width: 200px;
   height: 200px;
   display: flex;
   border-radius: 50%;
   border: 1px solid var(--orange-1);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
}

.profile-img img {
   border-radius: 50%;
   width: 195px;
   height: 195px;
}

.upload-profile-img {
   width: 92%;
   height: 60px;
   background-color: rgba(0, 0, 0, 0.4);
   color: white;
   position: absolute;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.upload-profile-img:hover {
   cursor: pointer;
}

.profile-name {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.profile-name h3 {
   color: var(--gray-1);
}

.profile-name h1 {
   display: flex;
   align-items: center;
}

.follow-stats {
   display: flex;
   margin-top: 10px;
}

.follow-btn {
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.follow-btn * {
   display: flex;
}

.unfollow-btn {
   border: 1px solid var(--orange-1) !important;
   background-color: transparent !important;
   color: var(--orange-1) !important;
}

.stat {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto 10px;
}

.bio-container {
   margin-top: 10px;
   width: 250px;
   word-wrap: break-word;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.edit-bio {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.edit-bio form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 5px;
}

.edit-bio textarea {
   resize: none;
   outline: none;
   border-radius: 5px;
   padding: 5px;
   font-size: 1rem;
   font-family: var(--primary-font);
}

.edit-bio textarea:focus {
   transition: 500ms;
   outline: none;
   border: 1px solid #ff614e;
}

.open-edit-bio-btn {
   color: #ff614e;
   margin-bottom: 7px;
}

.open-edit-bio-btn:hover {
   cursor: pointer;
}

.save-bio-btn {
   width: 100px !important;
   font-size: 1rem !important;
   margin-top: 5px;
}

.bio-btn-container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 0.9rem;
   color: var(--gray-2);
}

.bio-error {
   text-align: center;
   margin: 2px auto;
   color: rgb(233, 68, 68);
}

.bio {
   margin-bottom: 5px;
   max-width: 250px;
   font-size: 1rem;
   font-family: var(--primary-font);
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word; 
}

.profile-content {
   margin-top: 10px;
}

.profile-nav {
   display: flex;
   justify-content: center;
   max-width: 450px;
   margin: 0 auto;
}

.profile-content-type {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 5px;
   background-color: var(--white-3);
   border-radius: 5px;
   user-select: none;
}

.content-type-icon {
   font-size: 1.1rem;
   margin-right: 5px;
}

@media (max-width: 600px) {
   .profile-content-type {
      width: 90%;
      justify-content: space-evenly;
   }
   .content-type {
      display: none;
   }
   .content-type-icon {
      font-size: 22px;
      margin-right: 0;
   }
}

.profile-content-option {
   width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px;
   border-radius: 5px;
}

.profile-content-option:hover {
   cursor: pointer;
   background-color: var(--white-4);
}

.selected {
   background-color: var(--white-4);
   color: var(--orange-1);
}

.profile-content-container {
   margin-top: 20px;
}

.followers-count,
.following-count:hover {
   cursor: pointer;
}

.btn-msg {
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 5px;
}

.user-status {
   width: 10px;
   height: 10px;
   margin-right: 5px;
   border-radius: 50%;
   box-shadow: 0 0 3px 0px black;
}