.search {
   min-width: 400px;
   position: relative;
}

@media (max-width: 900px) {
   .search {
      display: none;
   }
}

.search-container {
   background-color: var(--white-2);
   width: 100%;
   height: 40px;
   display: flex;
   align-items: center;
   border-radius: 20px;
}

.search-container input {
   width: 100%;
   margin-right: 20px;
   background-color: inherit;
   border: none;
   font-size: 1rem;
}

.search-container input:focus {
   outline: none;
}

.search-icon {
   margin: auto 5px auto 10px;
   font-size: 25px;
   color: var(--gray-1);
}

.search-focus {
   background-color: var(--white-1);
   box-shadow: 0 0 10px -5px;
   transition: 300ms;
}

.search-blur {
   background-color: var(--white-2);
   transition: 300ms;
}

.mobile-search {
   display: flex;
   align-items: center;
   position: absolute;
   top: 0;
   width: 100%;
   height: 60px;
   background-color: var(--white-1);
   z-index: 1001;
}

@media (min-width: 901px) {
   .mobile-search {
      display: none;
   }
}

.search-container-mobile {
   margin: 0 20px;
}

.search-result-desktop {
   background-color: var(--white-1);
   position: absolute;
   right: 0;
   left: 0;
   top: 47px;
   max-height: 300px;
   min-height: 50px;
   box-shadow: 0 0 10px -5px;
   border-radius: 5px;
   padding: 5px;
   overflow-y: auto;
}

.results-placeholder {
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(158, 158, 158);
}

.profiles-results,
.tags-results {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-bottom: 5px;
}

.profile-result,
.tag-result {
   text-align: left;
   display: flex;
   text-decoration: none;
   color: inherit;
   padding: 5px;
   border-radius: 5px;
}

.profile-result:hover,
.tag-result:hover {
   background-color: var(--white-3);
}

.result-type {
   margin-bottom: 5px;
}

.profile-resulst-avatar img {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   display: flex;
}

.result-profile-info {
   margin-left: 5px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.result-profile-info p {
   font-size: 0.9rem;
   color: var(--gray-2);
}

.search-result-mobile {
   background-color: var(--white-1);
   position: absolute;
   right: 1%;
   left: 1%;
   top: 65px;
   max-height: 300px;
   min-height: 50px;
   box-shadow: 0 0 10px -5px;
   border-radius: 5px;
   padding: 5px;
   overflow-y: auto;
}

@-webkit-keyframes slide-bottom {
   0% {
      -webkit-transform: translateY(-10%);
      transform: translateY(-10%);
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
   }
 }
 @keyframes slide-bottom {
   0% {
      -webkit-transform: translateY(-10%);
      transform: translateY(-10%);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
 }
 
.slide-bottom {
   -webkit-animation: slide-bottom 300ms both;
	animation: slide-bottom 300ms both;
}