/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
   --white-1: #ffffff;
   --white-2: #F0F2F5;
   --white-3: rgb(225, 225, 225);
   --white-4: rgb(200, 200, 200);
   --black-1: #000000;
   --backdrop: rgba(0, 0, 0, 0.3);
   --gray-1: #888888;
   --gray-2: #5a5a5a;
   --orange-1: #ff614e;
   --primary-font: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
   width: 10px;
 }

 ::-webkit-scrollbar-thumb {
   background: var(--white-3); 
   border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #c2c2c2; 
 }

* {
   margin: 0;
   -webkit-tap-highlight-color: transparent;
}

.backdrop {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: var(--backdrop);
   z-index: 2000;
}

.selected-2 {
   background-color: var(--white-4);
   color: var(--orange-1);
}

.btn {
   background-color: var(--orange-1);
   color: var(--white-1);
   border: none;
   border-radius: 5px;
   padding: 10px;
   font-size: 1.2rem;
   width: 100%;
}

.btn:hover {
   cursor: pointer;
}

.btn:active {
   transform: scale(0.99);
}

.link {
   text-decoration: none;
   color: inherit;
}
